
.custom_form{
  
}


/* Rounded modern inputs */
.form-control-modern,
.form-select-modern {
  border-radius: 12px;
  border: 1px solid #6c757d;
  padding: 0.6rem 1rem;
  
  
  transition: all 0.3s ease;
}

.form-control-modern:focus,
.form-select-modern:focus {
  border-color: #0d6efd;
   border: 1px solid #6c757d;
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.3);
  outline: none;
}

/* Radio modern style spacing */
.form-check-modern {
  padding-left: 0.3rem;
}

/* Gradient button */
.btn-gradient-modern {
  background: linear-gradient(90deg, #0d6efd, #6610f2);
  border: none;
  border-radius: 12px;
  padding: 0.7rem 1rem;
  color: #fff;
  transition: all 0.3s ease;
}

.btn-gradient-modern:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Card */
.card {
  border: none;
}
