.header2{
    background:#002b6b;
    position:sticky;
    top:0;
    z-index:9999;
    width:100%;
    min-height:70px;
}

.navbar{
    padding:8px 0;
}

/* LOGO */

.brand-logo{
    width:42px;
    height:42px;
    object-fit:contain;
}

.brand-name{
    margin:0;
    color:#fff;
    font-size:1.7rem;
    line-height:1;
    font-weight:700;
}

.brand-sub{
    color:white;
    opacity:.9;
    font-size:.72rem;
}


/* NAV */

.navbar-nav{
    gap:15px;
}

.nav-link{
    color:white !important;
    font-size:.95rem;
    font-weight:500;
    transition:.3s;
}

.nav-link:hover{
    opacity:.8;
}


/* DROPDOWN */

.dropdown-menu{
    border:none;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.dropdown-item{
    padding:10px 15px;
}


/* PARTNER PILL */

.partner-pill{

    border:1px solid rgba(255,255,255,.25);

    border-radius:16px;

    padding:8px 16px;

    display:flex;

    align-items:center;

    gap:12px;

    background:rgba(255,255,255,.05);

}

.partner-text{
    color:white;
    font-size:.85rem;
}

.everest-logo{
    width:120px;
    object-fit:contain;
}


/* POWER BUTTON */

.power-btn{

    width:40px;
    height:40px;

    border:none;

    border-radius:50%;

    background:transparent;

    color:#ff3b30;

    font-size:1.3rem;

}

.power-btn:hover{

    background:rgba(255,255,255,.08);

}

.username{
    color:white;
    font-weight:600;
}


/* MOBILE */

@media(max-width:992px){

    .navbar-nav{

        margin-top:15px;
        gap:5px;
    }

    .partner-pill{

        margin-top:20px;
        width:100%;
        justify-content:center;
    }

}
.signin-btn{
    text-decoration:none !important;

    background:linear-gradient(135deg,#3b82f6,#2563eb);
    color:#fff;

    padding:10px 22px;
    border:none;
    border-radius:12px;

    font-size:12px;
    font-weight:600;

    display:inline-flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;
    transition:all .25s ease;

   
}

.signin-btn:hover{
    transform:translateY(-2px);

    background:linear-gradient(135deg,#4f8dfd,#2d6df6);

    box-shadow:
        0 8px 18px rgba(59,130,246,.3);
}

.signin-btn:active{
    transform:scale(.97);
}

.signin-btn:focus,
.signin-btn:visited{
    color:#fff;
    text-decoration:none;
}

@media(max-width:992px){

    .navbar-nav{
        margin-top:15px;
        gap:5px;
    }

    .partner-pill{
        margin-top:20px;
        width:100%;
        justify-content:center;
    }

    .signin-btn{
        padding:8px 16px;
        font-size:12px;
        border-radius:10px;

        white-space:nowrap;   /* prevents Sign In wrapping */
        min-width:auto;
        width:auto;

        box-shadow:
            0 3px 8px rgba(59,130,246,.18);
    }
}